# Core
fastapi[standard]
uvicorn[standard]
pydantic
pydantic-settings

# Database
sqlalchemy
alembic
psycopg2-binary         # PostgreSQL driver
    
# Auth & Security
python-jose
pyjwt
bcrypt==4.0.1
passlib
python-multipart        # file upload

# File Processing
pillow
pypdf2

# Background Tasks / Worker
redis
rq                    # atau gunakan dramatiq / celery sesuai preferensi

# Caching & Rate-Limit
fastapi-cache2
fastapi-limiter

# Observability / Logging
loguru
prometheus-client

# Validation / Utilities
email-validator
python-slugify